@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.main-container{
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}
.contact-us {
    background-image: linear-gradient(to right,#f07229,#ff9953);
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    
}

.right-content{
    margin: 10px 10px 10px 20px; 
}

.hero-img{
    height: 550px;
    width: auto;
}


.we-offer-section{
    margin-top: 200px;
    margin-bottom: 250px;
    overflow: hidden;
}

.expect-more-section ,.main-banner-section{
    overflow: hidden;
    margin-top: 200px;
}

.beyondx-logo {
    position: absolute;
    overflow: visible;
    margin-top: 0;
}

.display-items{
    margin-left: 0px;
    margin-right: 0px;
}


.cross_1 {
    width: 3.816px;
    height: 37.611px;
    position: absolute;
    overflow: visible;
    transform: translate(-6883px, -4905.477px) matrix(1,0,0,1,6983.4777,4902.6646) rotate(38deg);
    transform-origin: center;
}

.cross_2 {
    width: 3.816px;
    height: 37.611px;
    position: absolute;
    overflow: visible;
    transform: translate(-6883px, -4905.477px) matrix(1,0,0,1,6983.4776,4907.3887) rotate(-38deg);
    transform-origin: center;
}

.Line{
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
}

.copy-right{
    color: white;
    margin-bottom: 4%;
}

.logo-text-beyond {
    position: absolute;
    left: 0px;
    top: 7.188px;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    line-height: 80px;
    margin-top: -31px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(37,40,70,1);
    letter-spacing: 1px;
}

.logo-text-beyond-footer {
    position: absolute;
    left: 0px;
    top: 7.188px;
    width: 91px;
    white-space: nowrap;
    line-height: 80px;
    margin-top: -31px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(37,40,70,1);
    letter-spacing: 1px;
}

.stand-out-among-competition{
    line-height: 78px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(37,40,70,1);
}

.welcome-to-beyond-tech-vision {
    line-height: 48px;
    margin-top: 15px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(157,157,167,1);
}



.stand-out-button {
    background-image: linear-gradient(to right,#f07229,#ff9953);
    border: none;
    margin-top: 25px;
    padding: 10px 30px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 30px;
}

.x-background-svg {
    position: absolute;
    width: 766.495px;
    left: -134px;
    top: 700px;
    overflow: visible;
}

.x-big-bg-cross_1 {
    width: 188.64px;
    height: 893.121px;
    position: absolute;
    overflow: visible;
    transform: translate(8px, -528px) matrix(1,0,0,1,281.2531,464.4564) rotate(-45deg);
    transform-origin: center;
}

.x-big-bg-cross_2 {
    width: 181.963px;
    height: 902.024px;
    position: absolute;
    overflow: visible;
    transform: translate(8px, -528px) matrix(1,0,0,1,284.2658,460.2352) rotate(45deg);
    transform-origin: center;
}

.we-offer {
    line-height: 92px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(37,40,70,1);
    width: 80%
}

.we-love-to-work-with-startups {
    line-height: 92px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(157,157,167,1);
    width: 80%;
}

.card {
    overflow: hidden;
    width: 170px;
    height: 200px;
    background-color: white;
    margin-top: 10px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .card-display{
      margin-top: 35px;
  }

  .card-text {
    font-size: 23px;
    color: rgba(37,40,70,1);
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    position: static;
    margin-top: 25px;
}

.down-color{
    height: 5px;
    width: auto;
    margin-top: 40px;
}

.card-sub-text {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(157,157,167,1);
    letter-spacing: -0.1px;
}

#A:hover > div#B {
    /* code */
    background-color: #f07229;
}


#Expert_more_than__Design_and_D {
    line-height: 64px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(37,40,70,1);
    margin-left: 20px;
    margin-bottom: 20px;
}

#BeyondX_is_a_complete_creative {
    word-wrap: break-word;
    margin-left: 20px;
    line-height: 38px;
    margin-top: -11px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(157,157,167,1);
}

#Client___Partners {
    width: auto;
    line-height: 92px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(37,40,70,1);
}

#Want_to_expose_your_portfolio_ {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(157,157,167,1);
}

.clients-partners-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(247,247,247,1);
    overflow: hidden;
}

.clients-photos{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.cli-gap{
    margin: 10px 10px 10px 10px;
}

#quote {
    position: absolute;
    width: 80%;
    height: 469px;
    overflow: hidden;
}

#What_they_say {
    overflow: visible;
    white-space: nowrap;
    line-height: 92px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(37,40,70,1);
}

#Based_upon_the_information_you {
    line-height: 36px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(157,157,167,1);
    margin-top: 0px;
    margin-bottom: 50px;
}

#_I_must_say_the_documentation_ {
    line-height: 48px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(37,40,70,1);
    margin-top: 0px;
    margin-bottom: 50px;
}

#Castel_bales {
    line-height: 48px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(37,40,70,1);
    margin-top: 0px;
    margin-bottom: 0px;
}
#Complete_CRM_support_and__main {
    line-height: 48px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(37,40,70,1);
    margin-top: 0px;
    margin-bottom: 50px;
}

.progress{
    margin-top: 25px;
    margin-bottom: 20px;
    background: white;
}
#myProgress {
    width: 20%;
    background-color: rgba(245,245,245,1);
    border-radius: 30px;
    height: 10px;
  }
  
  #myBar {
    width: 20%;
    height: 10px;
    background-image: linear-gradient(to right,#f07229,#ff9953);
    border-radius: 30px;
  }

 .testi-logo{
     text-align: center;
 }

 .testimonials{
     margin-top: 5px;
     overflow: hidden;
    
 }

 .find-solution{
    background-color: #F07229;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    }

 #We_will_help_to_find_solution_ {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin-top: 40px;
    color: rgba(253,253,254,1);
}

.find-sol-button {
    background-color: white;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color:  #F07229;
    border-radius: 30px;
    
}

.footer-brand {
    overflow-wrap: break-word;
    overflow: inherit;
    white-space: nowrap;
    line-height: 80px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(245,245,245,1);
    letter-spacing: 1px;
    margin-left: 40px;
}

.beyondx-logo-footer{
    overflow: hidden;
    margin: 50px 0px 0px 50px;
}


#We_love_to_work_with_startups__e {
    width: 500px;
    height: 90px;
    line-height: 20px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(253,253,254,1);
    padding: 20px 50px 25px 50px;
}

#Contact_details {
    overflow: hidden;
    width: 144px;
    line-height: 92px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(253,253,254,1);
}

#reach_beyondx_in {
    white-space: nowrap;
    line-height: 45px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(247,247,247,1);
}

#ID101_Natesan_nagar__Ramapuram {
    line-height: 22px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(247,247,247,1);
}

#_91_9790_8623_97__91_8903_0107 {
    line-height: 36px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(247,247,247,1);
}

#Follow_us_on {
    overflow: hidden;
    width: fit-content;
    line-height: 92px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(253,253,254,1);
}


.footer{
    background-color: rgba(19,31,107,1);
}

.display-items{
    margin-left: 0px;
    margin-right: 0px;
}


@media only screen and (max-width: 600px) {
    .display-items{
        margin-left: 25%;
        margin-right: 25%;
    }
    .welcome-to-beyond-tech-vision {
        overflow-wrap: break-word;
        line-height: 40px;
        margin-top: 15px;
        width: auto;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: lighter;
        font-size: 10px;
        color: rgba(157,157,167,1);
    }

    .stand-out-among-competition{
        overflow-wrap: break-word;
        line-height: 50px;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        color: rgba(37,40,70,1);
    }

    .expect-more-section ,.main-banner-section{
        margin: 20px 0px 50px 0px;
    }

    .stand-out-button {
        background-image: linear-gradient(to right,#f07229,#ff9953);
        border: none;
        margin: 25px 0px 25px 0px;
        padding: 7px 25px;
        text-align: left;
        text-decoration: none;
        font-size: 10px;
        cursor: pointer;
        color: white;
        border-radius: 30px;
    }
    
    .we-offer-section{
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .we-love-to-work-with-startups {
        overflow: visible;
        line-height: 52px;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(157,157,167,1);
    }

    .x-background-svg {
    position: absolute;
    width: 25px;
    left: -320px;
    top: 900px;
    overflow: visible;
}

.x-big-bg-cross_1 {
    width: 120.963px;
    height: 602.024px;
    position: absolute;
    overflow: visible;
    transform: translate(8px, -528px) matrix(1,0,0,1,281.2531,464.4564) rotate(-45deg);
    transform-origin: center;
    background: rgba(247,247,247,1);
}

.x-big-bg-cross_2 {
    width: 120.963px;
    height: 602.024px;
    position: absolute;
    overflow: visible;
    transform: translate(8px, -528px) matrix(1,0,0,1,284.2658,460.2352) rotate(45deg);
    transform-origin: center;
    background: rgba(247,247,247,1);
}

.image-expect{
    height: 200;
    width: 200;
}

#BeyondX_is_a_complete_creative {
    margin-left: 0px;
    text-align: center;
}

#Client___Partners{
font-size: 25px;
overflow-wrap: inherit;
}

#Want_to_expose_your_portfolio_{
    width: 80%;
    overflow: hidden;
    font-size: 10px;
}

#Contact_details {
    width: fit-content;
    text-align: center;
    margin-left: 32%;
    margin-top: 10%;
}

#We_love_to_work_with_startups__e {
    text-align: center;
}

#reach_beyondx_in {
    text-align: center;
    margin-left: 35%;
    margin-top: 0px;
}

#ID101_Natesan_nagar__Ramapuram {
    text-align: center;
    margin-left: 25%;
}

#_91_9790_8623_97__91_8903_0107 {
    text-align: center;
    margin-left: 37%;
}

#Follow_us_on {
    margin-left: 35%;
}

.social-media{
    width: fit-content;
    margin-left: 12%;
    margin-bottom: 10%;
}

.contact-us {
    background-image: none;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: black;
    border-radius: 30px;
    padding: 8px 0px 8px 0px;
}

.footer-brand {
    margin-left: 34%;
    margin-top: 20%;
    text-align: center;
    font-family: Montserrat;
}

.copy-right{
    color: white;
    margin-bottom: 10%;
    font-size: 10px;
}

#Expert_more_than__Design_and_D {
    margin-top: 10px;
    margin-left: 0px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    height: fit-content;
}
.we-offer-section{
    margin-bottom: 80px;
}

#We_will_help_to_find_solution_ {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 40px;
    color: rgba(253,253,254,1);
}

.find-sol-button {
    padding: 5px 15px;
    font-size: 8px;
}

.hero-img{
    height: 300px;
    width: auto;
}


}